android-ndk*
android-sdk*
apache-ant*
dist
dist.old
.classpath
.project

*.pyc
*.pyo
bin/
dl/
doc/_build/
local.properties
renpy
build_moonlight.sh

project/.idea/caches/
project/app/src/main/assets/
project/renpyandroid/src/main/jniLibs/
project/renpyandroid/src/main/private/
