android-ndk*
android-sdk*
apache-ant*
dist
dist.old
.classpath
.project

*.pyc
*.pyo
bin/
dl/
doc/_build/
local.properties
build_moonlight.sh

project/.idea/caches/
project/app/src/main/assets/
project/renpyandroid/src/main/jniLibs/
project/renpyandroid/src/main/private/
project/app/src/main/AndroidManifest.xml
project/app/src/main/res/values/strings.xml
project/renpyandroid/src/main/AndroidManifest.xml
project/renpyandroid/src/main/java/org/renpy/android/Constants.java
project/renpyandroid/src/main/res/values/strings.xml
renpy/
project/app/build.gradle
